@import url('https://fonts.googleapis.com/css2?family=Delius+Swash+Caps&family=Mystery+Quest&family=Rancho&display=swap');
html, body {
    height: 100%;
}

body {
    font-family: Rancho, Verdana, Geneva, Tahoma, sans-serif;
    background-image: url(turkoosi-tausta.jpg);
    background-size: auto 100%;
}

.otsikko {
    font-family: Rancho, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    color: #240046;
    text-align: center;
    background-color: #0a9396;
    border: #240046 solid 2px;
    border-radius: 50px;
}

.keskita {
    display: flex;
    justify-content: center;
    gap: 20px;
}

label {
    color: #240046;
    font-size: 30px;
    padding: 10px;
}

input {
    background-color: #b2f7ef;
    font-family: Rancho, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
}

input:hover {
    cursor: text;
}

select {
    border-radius: 5px;
    background-color: #b2f7ef;
    font-family: Rancho, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

select:hover {
    cursor: pointer;
}

.aloitusnappi {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

button {
    background-color: #b2f7ef;
    font-family: Rancho, Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    padding: 5px 10px;
    border: #240046 solid 3px;
    border-radius: 10px;
    margin-top: 20px;
}

button:hover {
    cursor: pointer;
}

button:active {
    opacity: 0.8;
    transform: scale(1.02);
}

#peli {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#vuoro {
    text-align: center;
    font-size: 30px;
    color: #240046;
}

#nopankuvat {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.dice {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.tulostaulu {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.tulostaulu p {
    font-size: 30px;
    padding: 20px;
}

.napit {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
    visibility: hidden;
}

.napit button {
    margin: 0;
}

.viestiKentta {
    background-color: #0a9396;
    border: #240046 solid 2px;
    border-radius: 30px;
}

.viestiKentta p {
    font-size: 40px;
    text-align: center;
    padding: 5px 10px;
}